<div class="col-10 offset-1 about">
	<h1>Music</h1>

	<p>
		This app was built by <a target="_blank" href="http://github.com/aabelein">Ariel</a>.  A new web developer who has a desire to learn to code and a  passion for music.
	</p>
	<br />
	<p>
		With the help of classical music to help get in the zone and the online bootcamp, I have come to enjoy the accomplishment of debugging an error and learning to create new and amazing content.
	</p>
	<p>
		If you want to learn how to code - start <a target="_blank"href="https://online.bootcampspot.com"> here</a>.
	</p>


	<div class="row">
		<div class="col-12 col-sm-4">
			<%= image_tag 'Ariel.jpg', class: 'img-fluid' %>
		</div>

		<div class="col-12 col-sm-7 offset-sm-1">
			<h2 class="text-center">Ariel Abelein</h2>
			<br />
			<p>
				Ariel is a self taught web developer.  She learned by taking the online bootcamp offered by University of Arizona and enjoying classical as well as all other types of music.  Taking detailed notes and trying to obsorb all information available to help get her new career in the right direction.
			</p>
		</div>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
