<h2>
	<span>MUSIC is life / No.  <%= @quote.id %></span>
	Here are some of the <u>best</u> music quotes we found.
</h2>


<h1 class="quote-saying"><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />